{% extends 'layout.html.twig' %}

{% block content %}
    <body class="contexte">
    <h1 class="intro-h1">Pimp My robot !</h1>
    <div class="intro">
    <p>Voilà que Galérien débarque sur la planête Mars. Il observe les environs sans vraiment savoir où il doit aller.
        Il aimerait rencontrer quelqu'un de familier.
        Aide Galérien à trouver de la compagnie sur cette planête hostile.
    </div>
    </p>
    <button type="button" class="btn btn-outline-secondary bouton-intro">Ouvrir le Work Shop</button>
    <img class="robot" src="assets/images/robot_flat.svg" alt="yooo">
    </body>
{% endblock %}
