{% extends 'layout.html.twig' %}

{% block content %}
    <body class="contexte">
    <h1 class="intro-h1">Pimp My robot !</h1>
    <div class="intro">
    <p>Voilà que Galéri-1 débarque sur la planète Mars. Il observe les environs sans vraiment savoir où il doit aller.
        Il aimerait rencontrer quelqu'un de familier.
        Aide Galéri-1 à trouver de la compagnie sur cette planète hostile.
    </div>
    </p>
    <a href="Workshop/index"><button type="button" class="btn btn-outline-secondary bouton-intro">Ouvrir le Workshop</button></a>
    <img class="robot" src="assets/images/robot_flat.svg" alt="robot-img">
    </body>
{% endblock %}
