{% extends 'layout.html.twig' %}

{% block content %}
    <body class="contexte">
    <h1 class="intro-h1" style="margin-top: 20px;">Pimp My robot !</h1>
    <div class="intro">
    <p class="p-5">Voilà que Galéri-1 débarque sur la planète Mars. Il observe les environs sans vraiment savoir où il doit aller.
        Il aimerait rencontrer quelqu'un de familier.
        Aide Galéri-1 à trouver de la compagnie sur cette planète hostile.<span class="terminal-animation">I</span>
    </p>
    </div>
    <div>
    <a href="../Workshop/index"><button type="button" class="btn bouton-intro" style="left: 74px;">Ouvrir le Workshop</button></a>
    </div>
    <img class="robot" src="/assets/images/robot_flat.svg" alt="robot-img">
    </body>
{% endblock %}
