.contexte{
    height: 95vh;
    position: relative;
    background: center / cover no-repeat url('https://cdn.futura-sciences.com/buildsv6/images/wide1920/9/7/5/975fff45f6_50019555_curiosity-skycrane-mars-nasa.jpg');
}
.robot{
    width: 450px;
    position: absolute;
    left: 630px;
    bottom: -20px;
    -webkit-animation-name: robot;
    animation-name: robot;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@-webkit-keyframes robot {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes robot {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
.intro{
    font-size: 20px;
    width: 500px;
    height: auto;
    /*color: #CBCBCB;*/
    background-color: black;
    color: greenyellow;
    margin-left: 60px;
    margin-top: 50px;
}
.intro-h1{
    color: white;
    font-size: 50px;
    margin-left: 20px;
}
.bouton-intro {
    position: absolute;
    right: 100px;
    font-size: 25px;
    color: white;
}

.terminal-animation {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
        display: none;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}