{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <form class="workshop-form col-6 d-flex flex-column justify-content-center align-item-center mr-5 py-2" action="" method="post">
                <h2 class="text-center">Liste des équipements</h2>
                <div class="equipment-list row p-5">
                    {% for i in 0..5 %}
                        <div class="col-4">
                            <input type="checkbox" name="equipment[]" id="equipment{{ loop.index }}" value="{{ loop.index }}">
                            <label role="button" class="p-3 m-1" for="equipment{{ loop.index }}"><img src="/assets/images/equipments/cater.svg" alt="robot" width="100px"></label>
                        </div>
                    {% endfor %}
                </div>
                <div class="bg-robot-workshop d-flex flex-column justify-content-center align-item-center p-3">
                    <img src="/assets/images/equipments/drill.svg" alt="">
                    <img src="/assets/images/equipments/robot_flat.svg" alt="">
                    <img src="/assets/images/equipments/cater.svg" alt="">
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-primary">EQUIP ME !</button>
                </div>
            </form>

            <form class="gogogo-form col-5 d-flex flex-column align-item-center justify-content-center" action="../Journey/index" method="post">
                <div class="my-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolorem dolorum ea eaque facilis ipsa modi, optio pariatur porro quam qui quis quos reiciendis rerum sint, tenetur ullam ut voluptate!</p>
                </div>
                <div class="my-5">
                    <img  class="w-100" src="/assets/images/maps/Montagne Mars.jpg" alt="next-destination">
                </div>
                <div class="text-center my-2">
                    <button class="btn btn-primary">GO GO GO !</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}