{% extends 'layout.html.twig' %}

{% block content %}
    <body class="final-page">
    <h1 style="margin: 50px;color: white;">Success</h1>
    <img class="happy-robot-final" src="/assets/images/equipments/robot_success.svg" alt="robot-final-img">
    <img class="heart-final" src="/assets/images/equipments/heart.png" alt="heart">
    </body>

{% endblock %}